.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
.trigger:hover {
    color: #1890ff;
  }
  
.logo {
    background-image: url("https://cdn-images-1.medium.com/max/1600/1*Y2DncmJTLK6t9qmmqVzJHA.jpeg");
    height: 100px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }
  
  /* .ant-menu-item{background-image: url("https://cdn-images-1.medium.com/max/1600/1*Y2DncmJTLK6t9qmmqVzJHA.jpeg");} */